name: Build & Push Docker Images

on:
  push:
    branches:
      - develop
      - feature/week2-docker
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push postgres image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.db
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/fbu-220304031-system-programming-project-postgres:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/fbu-220304031-system-programming-project-postgres:v0.1.0

      - name: Build & push app image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/fbu-220304031-system-programming-project-app:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/fbu-220304031-system-programming-project-app:v0.1.0
